* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    background-repeat: repeat;
    margin: 0;
  }
  
  #search-form {
    font: inherit;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #2949af;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  input {
    font-size: 20px;
    border-radius: 0px;
    padding: 8px;
    border-color: transparent;
  }
  
  .search-form button {    
    font-size: 20px;
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border-color: transparent;
    border: 0px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 40px;
  }
  
  .wrapper-loadmore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;    
  }
  
  .load-more {
    font-size: 20px;
    color: rgb(232, 238, 243);
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border-color: transparent;
    border: 0px;
    background-color: #2949af;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(156, 187, 214);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc((100% / 4) - 40px);
  }
  
  img {
    width: 100%;
    height: auto;
    transition: transform 500ms ease-out;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;    
  }
  
  .info-item {
    text-align: center;
    font-size: 12px;
  }
  
  p {
    display: flex;
    flex-direction: column;
  }
  
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }